@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&family=Montserrat:wght@200;400&family=Poiret+One&family=Ysabeau+SC:wght@100&display=swap');

/* #cart-page {
    background-color: blue;
} */

.form-section {
    background-color: rgb(216, 239, 255);
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 100px;
    color: whitesmoke;
}

.form {
    max-width: 480px;
    margin: 0 auto;
    padding: 20px 50px;
    background-color: rgba(107, 107, 107, 0.3);
    text-align: center;
}

h1 {
    padding-bottom: 50px;
}

h4 {
    padding: 10px;
    font-family: 'Ysabeau SC', sans-serif;
}

select {
    background-color: rgb(34, 34, 34);
    margin-bottom: 20px;
}

input {
    background-color: rgb(34, 34, 34);
}
