@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&family=Montserrat:wght@200;400&family=Poiret+One&family=Ysabeau+SC:wght@100&display=swap');

.about {
    min-height: 100vh;
    background-color: rgb(234, 232, 232);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 30px;
    scroll-behavior: smooth;
    font-family: 'Ysabeau SC', sans-serif;
}


.about-info {
    display: flex;
    margin: 0 auto;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Anek Latin';
    font-weight: 400;
    line-height: 2rem;
    color: whitesmoke;
    background-color: rgb(1, 54, 103, 0.6);
  }
  
  .about-info h1, p {
    color: whitesmoke;
    padding: 1px;
    justify-items: stretch;
    font-family: 'Ysabeau SC', sans-serif;
  }
  
  .about h1 {
    color: #013667;
    font-weight: 700;
    font-size: 2.5rem;
  }

  .about p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
  }

  .about-info h1 {
    font-weight: 700;
    font-size: xx-large;
    color: rgb(68, 164, 196);
    color: whitesmoke;
  }
  
  .about-info p {
    font-size: 1.7vw;
  }
  
  .about-info span, .about-info em  {
    color: whitesmoke;
    font-weight: 700;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: larger;
  }

  @media screen and (min-width: 280px) and (max-width: 450px){
    .about p {
      line-height: normal;
      font-size: medium;
    }

    .about-info {
      padding: .5rem;
      margin: 20px 10px;
    }
  }

  @media screen and (min-width: 280px) and (max-width: 800px){
    .about-info p {
      font-size: larger;
    }

    .about h1 {
      text-align: center;
    }
  }

  .ceo-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #013667;
    background: none;
    margin-bottom: 30px;
  }

  .ceo-section img {
    width: 45%;
    height: auto;
  }

  .ceo-section p, .ceo-section h1{
    color: #013667; 
    text-align: left;
  }

@media screen and (max-width: 800px){
  .ceo-section {
    display: flex;
    flex-direction: column;
  }

  .ceo-section img {
    height: 300px;
    width: auto;
  }

  .ceo-section h1 {
    text-align: center;
  }

  .ceo-section p {
    font-size: large;
  }
}