@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&family=Montserrat:wght@200;400&family=Poiret+One&family=Ysabeau+SC:wght@100&display=swap');

.footer {
    min-height: 40vh;
    width: 100%;
    background-color: rgb(43, 66, 88);
    background-color: rgb(88, 112, 135);
    background-color: #013667;;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    color: whitesmoke;
    margin: 0 auto;
    padding: 50px;
    font-family: 'Gill Sans', sans-serif ;
}

@media screen and (max-width: 600px){
    .footer {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }
}

.footer-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 2rem;
}

.footer-section img {
    margin: 0 auto;
}

.footer-section h2 {
    font-family: 'Ysabeau SC', sans-serif;
    font-size: larger;
}

.footer-section a {
    color: rgb(223, 223, 223);
}


