@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&family=Montserrat:wght@200;400&family=Poiret+One&family=Ysabeau+SC:wght@100&display=swap');

.logo h1 {
  font-family: 'Ysabeau SC', sans-serif;
}

.landingpage {
  background-color: rgb(0, 0, 0, 0.1);
}

.home {
    width: 100%;
    height: 100%;
    display: flex;
    /* z-index: 2; */
    flex-direction: column;
    align-items: flex-end;
    justify-content: center; 
    font-family: 'Ysabeau SC', sans-serif;
    margin-right: 8rem;
    scroll-behavior: smooth;
  }
  
  .home h1 {
    font-size: 3rem;
    text-align: right;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 0;
  }
  
  .home p {
    font-size: 2.5rem;
    color: white;
    text-align: right;
    margin: 0;
  }
  
  .arrow {
    padding-bottom: 15px;
  }
  
  button {
    background: none;
    border: none;
  }
  

.home h1 {
    max-width: 800px;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  list-style: none;
  text-decoration: none;
  margin-bottom: 30px;
}

.nav-link li {
  text-decoration: none;
  list-style: none;
}

li a {
  text-decoration: none;
  padding-right: 20px;
  color: whitesmoke;
  font-family: 'Ysabeau SC', sans-serif;
  font-size: 1.3rem;
  font-weight: bolder;
}


@media screen and (min-width: 280px) and (max-width: 415px){
    .home {
        margin: 0 auto;
        padding: 20;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home h1, .home p {
        font-size: xx-large;
        margin: 0 auto;
    }
}

